STEP 0 :
Import and Read File CSV

In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pylab as plt

In [2]:
#read csv file
data = pd.read_csv("netflix1.csv")

STEP 1 DATA UNDERSTANDING :
1. Dataframe shape
2. Head and Tail
3. Columns
4. Data Types
5. Describe
6. Info

In [3]:
#Dataframe shape
data.shape

(8790, 10)

In [4]:
#Head
data.head(10)

,show_id,type,title,director,country,date_added,release_year,rating,duration,listed_in
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,United States,9/25/2021,2020,PG-13,90 min,Documentaries
1,s3,TV Show,Ganglands,Julien Leclercq,France,9/24/2021,2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act..."
2,s6,TV Show,Midnight Mass,Mike Flanagan,United States,9/24/2021,2021,TV-MA,1 Season,"TV Dramas, TV Horror, TV Mysteries"
3,s14,Movie,Confessions of an Invisible Girl,Bruno Garotti,Brazil,9/22/2021,2021,TV-PG,91 min,"Children & Family Movies, Comedies"
4,s8,Movie,Sankofa,Haile Gerima,United States,9/24/2021,1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies"
5,s9,TV Show,The Great British Baking Show,Andy Devonshire,United Kingdom,9/24/2021,2021,TV-14,9 Seasons,"British TV Shows, Reality TV"
6,s10,Movie,The Starling,Theodore Melfi,United States,9/24/2021,2021,PG-13,104 min,"Comedies, Dramas"
7,s939,Movie,Motu Patlu in the Game of Zones,Suhas Kadav,India,5/1/2021,2019,TV-Y7,87 min,"Children & Family Movies, Comedies, Music & Mu..."
8,s13,Movie,Je Suis Karl,Christian Schwochow,Germany,9/23/2021,2021,TV-MA,127 min,"Dramas, International Movies"
9,s940,Movie,Motu Patlu in Wonderland,Suhas Kadav,India,5/1/2021,2013,TV-Y7,76 min,"Children & Family Movies, Music & Musicals"

In [5]:
#tail
data.tail(10)

,show_id,type,title,director,country,date_added,release_year,rating,duration,listed_in
8780,s8759,TV Show,World's Busiest Cities,Not Given,United Kingdom,2/1/2019,2017,TV-PG,1 Season,"British TV Shows, Docuseries"
8781,s8776,TV Show,Yeh Meri Family,Not Given,India,8/31/2018,2018,TV-PG,1 Season,"International TV Shows, TV Comedies"
8782,s8781,TV Show,Yo-Kai Watch,Not Given,United States,4/1/2016,2015,TV-Y7,1 Season,"Anime Series, Kids' TV"
8783,s8785,Movie,Yoko and His Friends,Not Given,Russia,6/23/2018,2015,TV-Y,78 min,Children & Family Movies
8784,s8796,TV Show,Yu-Gi-Oh! Arc-V,Not Given,Japan,5/1/2018,2015,TV-Y7,2 Seasons,"Anime Series, Kids' TV"
8785,s8797,TV Show,Yunus Emre,Not Given,Turkey,1/17/2017,2016,TV-PG,2 Seasons,"International TV Shows, TV Dramas"
8786,s8798,TV Show,Zak Storm,Not Given,United States,9/13/2018,2016,TV-Y7,3 Seasons,Kids' TV
8787,s8801,TV Show,Zindagi Gulzar Hai,Not Given,Pakistan,12/15/2016,2012,TV-PG,1 Season,"International TV Shows, Romantic TV Shows, TV ..."
8788,s8784,TV Show,Yoko,Not Given,Pakistan,6/23/2018,2016,TV-Y,1 Season,Kids' TV
8789,s8786,TV Show,YOM,Not Given,Pakistan,6/7/2018,2016,TV-Y7,1 Season,Kids' TV

In [6]:
#colums
data.columns

Index(['show_id', 'type', 'title', 'director', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in'],
      dtype='object')

In [7]:
#Data Types
data.dtypes

show_id         object
type            object
title           object
director        object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
dtype: object

In [8]:
#Describe
data.describe()

       release_year
count   8790.000000
mean    2014.183163
std        8.825466
min     1925.000000
25%     2013.000000
50%     2017.000000
75%     2019.000000
max     2021.000000

In [9]:
#Info
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8790 entries, 0 to 8789
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8790 non-null   object
 1   type          8790 non-null   object
 2   title         8790 non-null   object
 3   director      8790 non-null   object
 4   country       8790 non-null   object
 5   date_added    8790 non-null   object
 6   release_year  8790 non-null   int64
 7   rating        8790 non-null   object
 8   duration      8790 non-null   object
 9   listed_in     8790 non-null   object
dtypes: int64(1), object(9)
memory usage: 686.8+ KB

STEP 2 DATA PREPARATION:
1. Deleting Redundant Columns
2. Renaming Column

In [10]:
data.columns

Index(['show_id', 'type', 'title', 'director', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in'],
      dtype='object')

In [11]:
#Deleting redundant coolums
data.drop(columns='rating',inplace=True)

In [12]:
#Renaming column
new_columns_name = []

for i in data.columns:
    new_columns_name.append(i.capitalize())

In [13]:
data.columns = new_columns_name

In [14]:
#Checking columns after rename
data.head(5)

,Show_id,Type,Title,Director,Country,Date_added,Release_year,Duration,Listed_in
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,United States,9/25/2021,2020,90 min,Documentaries
1,s3,TV Show,Ganglands,Julien Leclercq,France,9/24/2021,2021,1 Season,"Crime TV Shows, International TV Shows, TV Act..."
2,s6,TV Show,Midnight Mass,Mike Flanagan,United States,9/24/2021,2021,1 Season,"TV Dramas, TV Horror, TV Mysteries"
3,s14,Movie,Confessions of an Invisible Girl,Bruno Garotti,Brazil,9/22/2021,2021,91 min,"Children & Family Movies, Comedies"
4,s8,Movie,Sankofa,Haile Gerima,United States,9/24/2021,1993,125 min,"Dramas, Independent Movies, International Movies"

In [ ]:
#Checking data duplicated
data.duplicated().sum()

#If any duplicated data, we can check with: 
# --> data.drop_duplicates(inplace=True)

np.int64(0)

In [ ]:
#Checking missing value in data (NaN)
data.isna().sum()

#If we had NaN values, we cac check with:
# -->data.dropna(inplace=True)

Show_id         0
Type            0
Title           0
Director        0
Country         0
Date_added      0
Release_year    0
Duration        0
Listed_in       0
dtype: int64

In [ ]:
#Transform/change (split) "Show_id" into integer with deleting 's' (string)
data['Show_id'] = data['Show_id'].apply(lambda x : x.split("s")[1])

In [24]:
#Checking after transform
data.head(10)

,Show_id,Type,Title,Director,Country,Date_added,Release_year,Duration,Listed_in
0,1,Movie,Dick Johnson Is Dead,Kirsten Johnson,United States,9/25/2021,2020,90 min,Documentaries
1,3,TV Show,Ganglands,Julien Leclercq,France,9/24/2021,2021,1 Season,"Crime TV Shows, International TV Shows, TV Act..."
2,6,TV Show,Midnight Mass,Mike Flanagan,United States,9/24/2021,2021,1 Season,"TV Dramas, TV Horror, TV Mysteries"
3,14,Movie,Confessions of an Invisible Girl,Bruno Garotti,Brazil,9/22/2021,2021,91 min,"Children & Family Movies, Comedies"
4,8,Movie,Sankofa,Haile Gerima,United States,9/24/2021,1993,125 min,"Dramas, Independent Movies, International Movies"
5,9,TV Show,The Great British Baking Show,Andy Devonshire,United Kingdom,9/24/2021,2021,9 Seasons,"British TV Shows, Reality TV"
6,10,Movie,The Starling,Theodore Melfi,United States,9/24/2021,2021,104 min,"Comedies, Dramas"
7,939,Movie,Motu Patlu in the Game of Zones,Suhas Kadav,India,5/1/2021,2019,87 min,"Children & Family Movies, Comedies, Music & Mu..."
8,13,Movie,Je Suis Karl,Christian Schwochow,Germany,9/23/2021,2021,127 min,"Dramas, International Movies"
9,940,Movie,Motu Patlu in Wonderland,Suhas Kadav,India,5/1/2021,2013,76 min,"Children & Family Movies, Music & Musicals"

In [26]:
#Checking type data of Show_id column
type(data['Show_id'][0])

str

In [30]:
#Transform into int data type
data['Show_id'] = data['Show_id'].astype(int)

In [31]:
#Checking data type of Show_id column
type(data['Show_id'][0])

numpy.int64

In [33]:
#Transform format of Date_added (before with delimiter '/' into '-')
data['Date_added'] = data['Date_added'].apply(lambda x : x.replace('/','-'))

In [34]:
#Checking after transform Date_added column
data.head(5)

,Show_id,Type,Title,Director,Country,Date_added,Release_year,Duration,Listed_in
0,1,Movie,Dick Johnson Is Dead,Kirsten Johnson,United States,9-25-2021,2020,90 min,Documentaries
1,3,TV Show,Ganglands,Julien Leclercq,France,9-24-2021,2021,1 Season,"Crime TV Shows, International TV Shows, TV Act..."
2,6,TV Show,Midnight Mass,Mike Flanagan,United States,9-24-2021,2021,1 Season,"TV Dramas, TV Horror, TV Mysteries"
3,14,Movie,Confessions of an Invisible Girl,Bruno Garotti,Brazil,9-22-2021,2021,91 min,"Children & Family Movies, Comedies"
4,8,Movie,Sankofa,Haile Gerima,United States,9-24-2021,1993,125 min,"Dramas, Independent Movies, International Movies"

In [38]:
#If we want to search any country at Country column
df = data['Country'].value_counts().reset_index()

df[df['Country']=='Turkey']

   Country  count
13  Turkey    112

In [40]:
#Convert into csv file
data.to_csv('Cleaned_Data_CSV.csv', index=False)